In [10]:
import pandas as pd
import numpy as np

In [11]:
df = pd.read_csv("../data/regular_season.csv")

In [12]:
df.head()

,Unnamed: 0,Rk,Squad,MP,W,D,L,GF,GA,GD,...,xG,xGA,xGD,xGD/90,Last 5,Attendance,Top Team Scorer,Goalkeeper,Notes,season
0,0,1,Manchester City,12,9,1,2,32,12,20,...,24.4,11.1,13.3,1.11,L W W W D,42627.0,Erling Haaland - 13,Ederson,NaN,2023-2024
1,1,2,Liverpool,12,8,3,1,27,10,17,...,26.5,14.5,12.0,1.00,D W W D W,50648.0,Mohamed Salah - 10,Alisson,NaN,2023-2024
2,2,3,Arsenal,12,8,3,1,26,10,16,...,21.0,9.2,11.8,0.99,W D W L W,60130.0,Eddie Nketiah - 5,David Raya,NaN,2023-2024
3,3,4,Tottenham,12,8,2,2,24,15,9,...,19.2,18.6,0.6,0.05,W W W L L,61726.0,Son Heung-min - 8,Guglielmo Vicario,NaN,2023-2024
4,4,5,Aston Villa,12,8,1,3,29,17,12,...,23.5,15.9,7.7,0.64,D W W L W,41378.0,Ollie Watkins - 6,Emiliano Martínez,NaN,2023-2024

In [13]:
df.drop('Unnamed: 0', axis=1, inplace=True)

In [14]:
df.head()

,Rk,Squad,MP,W,D,L,GF,GA,GD,Pts,...,xG,xGA,xGD,xGD/90,Last 5,Attendance,Top Team Scorer,Goalkeeper,Notes,season
0,1,Manchester City,12,9,1,2,32,12,20,28,...,24.4,11.1,13.3,1.11,L W W W D,42627.0,Erling Haaland - 13,Ederson,NaN,2023-2024
1,2,Liverpool,12,8,3,1,27,10,17,27,...,26.5,14.5,12.0,1.00,D W W D W,50648.0,Mohamed Salah - 10,Alisson,NaN,2023-2024
2,3,Arsenal,12,8,3,1,26,10,16,27,...,21.0,9.2,11.8,0.99,W D W L W,60130.0,Eddie Nketiah - 5,David Raya,NaN,2023-2024
3,4,Tottenham,12,8,2,2,24,15,9,26,...,19.2,18.6,0.6,0.05,W W W L L,61726.0,Son Heung-min - 8,Guglielmo Vicario,NaN,2023-2024
4,5,Aston Villa,12,8,1,3,29,17,12,25,...,23.5,15.9,7.7,0.64,D W W L W,41378.0,Ollie Watkins - 6,Emiliano Martínez,NaN,2023-2024

In [15]:
df

,Rk,Squad,MP,W,D,L,GF,GA,GD,Pts,...,xG,xGA,xGD,xGD/90,Last 5,Attendance,Top Team Scorer,Goalkeeper,Notes,season
0,1,Manchester City,12,9,1,2,32,12,20,28,...,24.4,11.1,13.3,1.11,L W W W D,42627.0,Erling Haaland - 13,Ederson,NaN,2023-2024
1,2,Liverpool,12,8,3,1,27,10,17,27,...,26.5,14.5,12.0,1.00,D W W D W,50648.0,Mohamed Salah - 10,Alisson,NaN,2023-2024
2,3,Arsenal,12,8,3,1,26,10,16,27,...,21.0,9.2,11.8,0.99,W D W L W,60130.0,Eddie Nketiah - 5,David Raya,NaN,2023-2024
3,4,Tottenham,12,8,2,2,24,15,9,26,...,19.2,18.6,0.6,0.05,W W W L L,61726.0,Son Heung-min - 8,Guglielmo Vicario,NaN,2023-2024
4,5,Aston Villa,12,8,1,3,29,17,12,25,...,23.5,15.9,7.7,0.64,D W W L W,41378.0,Ollie Watkins - 6,Emiliano Martínez,NaN,2023-2024
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
683,16,Coventry City,38,11,11,16,42,49,-7,44,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1990-1991
684,17,Aston Villa,38,9,14,15,46,58,-12,41,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1990-1991
685,18,Luton Town,38,10,7,21,42,61,-19,37,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1990-1991
686,19,Sunderland,38,8,10,20,38,60,-22,34,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Relegated,1990-1991
687,20,Derby County,38,5,9,24,37,75,-38,24,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Relegated,1990-1991

In [16]:
df.to_csv("../data-v1/regular_season.csv", encoding='utf-8')