In [34]:
import pandas as pd
import numpy as np

In [35]:
df = pd.read_csv("../data/shooting.csv")

In [36]:
df.head()

,Unnamed: 0,Expected,Expected.1,Expected.2,Expected.3,Expected.4,Standard,Standard.1,Standard.2,Standard.3,...,Standard.6,Standard.7,Standard.8,Standard.9,Standard.10,Standard.11,Unnamed: 0_level_0,Unnamed: 1_level_0,Unnamed: 2_level_0,season
0,NaN,G-xG,np:G-xG,npxG,npxG/Sh,xG,Dist,FK,G/Sh,G/SoT,...,PKatt,Sh,Sh/90,SoT,SoT%,SoT/90,Squad,# Pl,90s,NaN
1,0.0,4.0,2.5,16.5,0.1,21.0,16.5,0.0,0.11,0.35,...,6,168.0,14.0,55,32.7,4.58,Arsenal,23,12.0,2023-2024
2,1.0,2.5,1.8,21.2,0.13,23.5,15.9,3.0,0.13,0.35,...,3,176.0,14.67,66,37.5,5.5,Aston Villa,23,12.0,2023-2024
3,2.0,-2.8,-2.8,13.8,0.1,13.8,17.1,6.0,0.08,0.22,...,0,138.0,11.5,50,36.2,4.17,Bournemouth,25,12.0,2023-2024
4,3.0,-4.1,-4.8,20.8,0.12,22.1,14.9,7.0,0.09,0.31,...,2,173.0,14.42,51,29.5,4.25,Brentford,25,12.0,2023-2024

In [37]:
df.drop('Unnamed: 0', axis=1, inplace=True)

In [38]:
df.head()

,Expected,Expected.1,Expected.2,Expected.3,Expected.4,Standard,Standard.1,Standard.2,Standard.3,Standard.4,...,Standard.6,Standard.7,Standard.8,Standard.9,Standard.10,Standard.11,Unnamed: 0_level_0,Unnamed: 1_level_0,Unnamed: 2_level_0,season
0,G-xG,np:G-xG,npxG,npxG/Sh,xG,Dist,FK,G/Sh,G/SoT,Gls,...,PKatt,Sh,Sh/90,SoT,SoT%,SoT/90,Squad,# Pl,90s,NaN
1,4.0,2.5,16.5,0.1,21.0,16.5,0.0,0.11,0.35,25,...,6,168.0,14.0,55,32.7,4.58,Arsenal,23,12.0,2023-2024
2,2.5,1.8,21.2,0.13,23.5,15.9,3.0,0.13,0.35,26,...,3,176.0,14.67,66,37.5,5.5,Aston Villa,23,12.0,2023-2024
3,-2.8,-2.8,13.8,0.1,13.8,17.1,6.0,0.08,0.22,11,...,0,138.0,11.5,50,36.2,4.17,Bournemouth,25,12.0,2023-2024
4,-4.1,-4.8,20.8,0.12,22.1,14.9,7.0,0.09,0.31,18,...,2,173.0,14.42,51,29.5,4.25,Brentford,25,12.0,2023-2024

In [39]:
cols = list(df.iloc[0])
cols[-1] = "Season"
cols

['G-xG',
 'np:G-xG',
 'npxG',
 'npxG/Sh',
 'xG',
 'Dist',
 'FK',
 'G/Sh',
 'G/SoT',
 'Gls',
 'PK',
 'PKatt',
 'Sh',
 'Sh/90',
 'SoT',
 'SoT%',
 'SoT/90',
 'Squad',
 '# Pl',
 '90s',
 'Season']

In [40]:
df.columns = cols

In [41]:
df.columns

Index(['G-xG', 'np:G-xG', 'npxG', 'npxG/Sh', 'xG', 'Dist', 'FK', 'G/Sh',
       'G/SoT', 'Gls', 'PK', 'PKatt', 'Sh', 'Sh/90', 'SoT', 'SoT%', 'SoT/90',
       'Squad', '# Pl', '90s', 'Season'],
      dtype='object')

In [42]:
ordered_cols = [ 'Squad','G-xG',
 'np:G-xG',
 'npxG',
 'npxG/Sh',
 'xG',
 'Dist',
 'FK',
 'G/Sh',
 'G/SoT',
 'Gls',
 'PK',
 'PKatt',
 'Sh',
 'Sh/90',
 'SoT',
 'SoT%',
 'SoT/90',
 '# Pl',
 '90s',
 'Season']

In [43]:
df = df[ordered_cols]

In [44]:
df.head()

,Squad,G-xG,np:G-xG,npxG,npxG/Sh,xG,Dist,FK,G/Sh,G/SoT,...,PK,PKatt,Sh,Sh/90,SoT,SoT%,SoT/90,# Pl,90s,Season
0,Squad,G-xG,np:G-xG,npxG,npxG/Sh,xG,Dist,FK,G/Sh,G/SoT,...,PK,PKatt,Sh,Sh/90,SoT,SoT%,SoT/90,# Pl,90s,NaN
1,Arsenal,4.0,2.5,16.5,0.1,21.0,16.5,0.0,0.11,0.35,...,6,6,168.0,14.0,55,32.7,4.58,23,12.0,2023-2024
2,Aston Villa,2.5,1.8,21.2,0.13,23.5,15.9,3.0,0.13,0.35,...,3,3,176.0,14.67,66,37.5,5.5,23,12.0,2023-2024
3,Bournemouth,-2.8,-2.8,13.8,0.1,13.8,17.1,6.0,0.08,0.22,...,0,0,138.0,11.5,50,36.2,4.17,25,12.0,2023-2024
4,Brentford,-4.1,-4.8,20.8,0.12,22.1,14.9,7.0,0.09,0.31,...,2,2,173.0,14.42,51,29.5,4.25,25,12.0,2023-2024

In [45]:
df.drop(0,inplace=True)

In [46]:
df

,Squad,G-xG,np:G-xG,npxG,npxG/Sh,xG,Dist,FK,G/Sh,G/SoT,...,PK,PKatt,Sh,Sh/90,SoT,SoT%,SoT/90,# Pl,90s,Season
1,Arsenal,4.0,2.5,16.5,0.1,21.0,16.5,0.0,0.11,0.35,...,6,6,168.0,14.0,55,32.7,4.58,23,12.0,2023-2024
2,Aston Villa,2.5,1.8,21.2,0.13,23.5,15.9,3.0,0.13,0.35,...,3,3,176.0,14.67,66,37.5,5.5,23,12.0,2023-2024
3,Bournemouth,-2.8,-2.8,13.8,0.1,13.8,17.1,6.0,0.08,0.22,...,0,0,138.0,11.5,50,36.2,4.17,25,12.0,2023-2024
4,Brentford,-4.1,-4.8,20.8,0.12,22.1,14.9,7.0,0.09,0.31,...,2,2,173.0,14.42,51,29.5,4.25,25,12.0,2023-2024
5,Brighton,2.2,2.0,20.0,0.12,20.8,17.1,5.0,0.13,0.31,...,1,1,171.0,14.25,70,40.9,5.83,25,12.0,2023-2024
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
276,Tottenham,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.24,...,5,5,NaN,NaN,202,NaN,5.32,28,38.0,2010-2011
277,West Brom,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.26,...,4,6,NaN,NaN,183,NaN,4.82,28,38.0,2010-2011
278,West Ham,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.2,...,5,6,NaN,NaN,176,NaN,4.63,35,38.0,2010-2011
279,Wigan Athletic,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.2,...,2,3,NaN,NaN,175,NaN,4.61,25,38.0,2010-2011
280,Wolves,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.29,...,3,3,NaN,NaN,145,NaN,3.82,30,38.0,2010-2011

In [47]:
df.to_csv("../data-v1/shooting.csv", encoding='utf-8')