In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
df_defensive = pd.read_csv("../data-v2/defensive.csv")
df_goal_shot = pd.read_csv("../data-v2/goal_shot.csv")
df_passing = pd.read_csv("../data-v2/passing.csv")
df_possession = pd.read_csv("../data-v2/possession.csv")
df_regular_season = pd.read_csv("../data-v2/regular_season.csv")
df_shooting = pd.read_csv("../data-v2/shooting.csv")
df_standart_stats = pd.read_csv("../data-v2/standart_stats.csv")

In [4]:
merge_columns = ["Squad","Season"]

In [5]:
merged_df = df_defensive.merge(df_goal_shot, on=merge_columns, how='inner')

In [6]:
merged_df

,Unnamed: 0_x,Squad,Tkl%,Blocks,Clr,Err,Season,Unnamed: 0_y,SCA90,PassLive,PassDead,TO,Sh,Fld,Def,GCA90
0,0,Arsenal,58.3,152,130,6,2023-2024,0,25.92,220,32,20,25,9,5,3.58
1,1,Aston Villa,43.6,120,171,3,2023-2024,1,26.25,234,28,12,28,8,5,3.83
2,2,Bournemouth,47.3,150,230,8,2023-2024,2,19.67,173,15,16,14,10,8,1.25
3,3,Brentford,43.3,137,290,4,2023-2024,3,24.50,200,38,10,24,16,6,2.42
4,4,Brighton,37.3,128,176,5,2023-2024,4,25.75,227,23,23,20,13,3,3.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
135,135,Swansea City,40.2,411,1019,21,2017-2018,135,15.29,395,57,48,37,33,11,1.05
136,136,Tottenham,39.5,360,878,22,2017-2018,136,28.74,811,75,68,72,51,15,3.00
137,137,Watford,38.9,359,997,17,2017-2018,137,20.16,526,73,60,47,40,20,1.82
138,138,West Brom,34.9,420,1087,9,2017-2018,138,17.08,449,78,40,33,38,11,1.34
139,139,West Ham,37.9,437,1085,17,2017-2018,139,17.29,457,64,57,23,49,7,2.08